BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 110
PointerAlignment: Left
AccessModifierOffset: -4
SortIncludes: Never
IncludeBlocks: Preserve
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakStringLiterals: false
ReflowComments: false
